@import 'variables';

// Scrollbar site
::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px 1px $border_header_scrollbar;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(139, 139, 139);
  &:hover {
    background-color: rgb(97, 97, 97);
  }
}
