$border_shape_message_introduction:rgb(194, 120, 223);
$border_header_scrollbar: rgb(219, 219, 219);

// about part
$background_about-part: white;

// skill part
$item-color_skill-part: rgb(148, 21, 207);

// formation part
$timeline_formation-part: rgb(194, 85, 216);