$border_shape_message_introduction:rgb(194, 120, 223);
$border_header_scrollbar: rgb(219, 219, 219);

// about part
$background_about-part: white;

// formation part
$border_skill-part: rgb(126,78,130);