
//home part
.home {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  header {
    p {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 600;
    }
  }
  article {
    button {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  }
}

//about part
.about {
  &__left {
    h3, p, li {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 400;
    }
  }
  &__right {
    h3, p {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 400;
    }
  }
}