
.home {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    & header {
        & p {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 600;
        }
    }
    & article {
        & button {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    }
}